{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Khairunas Foundation - Login</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
  </head>
  <body class="bg-light" style="background-image: url(/static/images/volunter.png)">
    {% include 'header.html' %}

    <div class="login-container row col-4 m-auto mt-5 border p-4">
        {# MESSAGES BLOCK #}
        
      {% if messages %}
        <div class="mb-3">
          {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }} mb-2">
              {{ msg }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <form method="POST" action="{% url 'volunteer_login' %}">
        {% csrf_token %}
        <div class="avatar d-flex justify-content-center align-items-center mb-3">
          <img src="{% static 'images/login-avater.png' %}" alt="Login Avatar" />
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input type="text" name="username" class="form-control" placeholder="Username" required />
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" required />
        </div>
        <div class="mb-3 d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <p class="text-center mt-3">Don't have account?</p>
            <a href="{% url 'volunter_signup' %}"  class="btn btn-sm text-white btn-outline-dark border-0">Sign Up</a>
            {% comment %} <a href="{% url 'volunter_signup' %}" class="btn btn-outline-dark btn-sm">Sign Up</a> {% endcomment %}
        </div>
          <p class="text-center">
             <a href="{% url 'password_reset' %}" class="btn btn-sm text-white btn-outline-dark border-0"> Forgot Password?</a>
           
          </p> 
        </p>
      </form>
    </div>
  </body>
</html>
